body {
    margin: 0px;
    padding: 0px;
    background: #eeeded;
    font-family: Arial, Tahoma;
    font-size: 12px;
}

a {
    color: #2d75b2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: 0px;
}

input:focus {
    outline: none;
}

input.nice-i {
    color: #c2c2c2;
    border: 1px solid #e2e2e2;
    padding: 4px 10px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: inset 2px 4px 4px -1px rgba(229, 229, 229, 1);
    -moz-box-shadow: inset 2px 4px 4px -1px rgba(229, 229, 229, 1);
    box-shadow: inset 2px 4px 4px -1px rgba(229, 229, 229, 1);
}

input.nice-s, a.nice-a {
    height: 27px;
    line-height: 27px;
    text-align: center;
    border-bottom: 1px solid #8a8a8a;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;

    font-family: US101;
    font-size: 20px;
    font-weight: normal;
    color: #c8a901;

    text-shadow: 0px 1px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=0, offy=1);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    background: #fefefe; /* Old browsers */
    background: -moz-linear-gradient(top, #fefefe 0%, #e3e3e3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #e3e3e3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fefefe 0%, #e3e3e3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fefefe 0%, #e3e3e3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fefefe 0%, #e3e3e3 100%); /* IE10+ */
    background: linear-gradient(top, #fefefe 0%, #e3e3e3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#e3e3e3', GradientType=0); /* IE6-9 */
}

a.nice-a2 {
    border-bottom: 1px solid #868686;
    color: #ffffff;

    font-family: US101;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;

    text-shadow: 0px -1px 0px #389b2d;
    filter: dropshadow(color=#389b2d, offx=0, offy=-1);

    background: #52ce3d; /* Old browsers */
    background: -moz-linear-gradient(top, #52ce3d 0%, #21a427 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #52ce3d), color-stop(100%, #21a427)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #52ce3d 0%, #21a427 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #52ce3d 0%, #21a427 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #52ce3d 0%, #21a427 100%); /* IE10+ */
    background: linear-gradient(top, #52ce3d 0%, #21a427 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#52ce3d', endColorstr='#21a427', GradientType=0); /* IE6-9 */

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

input.nice-s:hover, a.nice-a:hover {
    height: 27px;
    line-height: 27px;
    color: #2e292b;
    border-bottom: 1px solid #8a8a8a;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    text-decoration: none;

    text-shadow: 0px 1px 0px #edd759;
    filter: dropshadow(color=#edd759, offx=0, offy=1);

    background: #ffd900; /* Old browsers */
    background: -moz-linear-gradient(top, #ffd900 0%, #dfbd02 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd900), color-stop(100%, #dfbd02)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffd900 0%, #dfbd02 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffd900 0%, #dfbd02 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffd900 0%, #dfbd02 100%); /* IE10+ */
    background: linear-gradient(top, #ffd900 0%, #dfbd02 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd900', endColorstr='#dfbd02', GradientType=0); /* IE6-9 */
}

a.nice-a {
    padding: 0px;
}

.wrap-title-black {
    height: 40px;

    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;

    background: #4e4648; /* Old browsers */
    background: -moz-linear-gradient(top, #4e4648 0%, #221e1f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4e4648), color-stop(100%, #221e1f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4e4648 0%, #221e1f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4e4648 0%, #221e1f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4e4648 0%, #221e1f 100%); /* IE10+ */
    background: linear-gradient(top, #4e4648 0%, #221e1f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e4648', endColorstr='#221e1f', GradientType=0); /* IE6-9 */
}

h2.nice-title, h1.nice-title {
    height: 40px;
    line-height: 40px;
    color: #ffffff;

    font-family: US101;
    font-size: 20px;
    font-weight: normal;

    text-shadow: 0px -1px 0px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=-1);
}

#top {
    width: 100%;
    height: 181px;

    background: #292929; /* Old browsers */
    background: -moz-linear-gradient(top, #292929 0%, #151515 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292929), color-stop(100%, #151515)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #292929 0%, #151515 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #292929 0%, #151515 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #292929 0%, #151515 100%); /* IE10+ */
    background: linear-gradient(top, #292929 0%, #151515 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#151515', GradientType=0); /* IE6-9 */
}

#wrap-user-border {
    width: 100%;
    height: 36px;
    border-bottom: 1px solid #383838;
}

#wrap-user-border2 {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #171717;
}

#wrap-user {
    width: 960px;
    height: 35px;
    margin: 0 auto;
    text-align: center;
}

#user-message {
    float: left;
    width: 230px;
    height: 35px;
    line-height: 35px;
    font-size: 11px;
    color: #7e7e7e;
    text-align: left;
}

ul#user-menu {
    float: left;
    width: 730px;
    height: 35px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: right;
}

ul#user-menu li {
    display: inline-block;
    margin-left: 20px;
}

* html ul#user-menu li {
    display: inline;
}

* + html ul#user-menu li {
    display: inline;
}

ul#user-menu li a {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    font-size: 11px;
    color: #c29700;
    text-decoration: none;
    padding-left: 10px;
}

* html ul#user-menu li a {
    display: inline;
}

* + html ul#user-menu li a {
    display: inline;
}

ul#user-menu li a:hover {
    text-decoration: underline;
}

#header {
    width: 960px;
    height: 144px;
    margin: 0 auto;
    text-align: center;
}

#header-top {
    float: left;
    width: 100%;
    height: 52px;
    margin: 25px 0px;
}

#wrap-logo {
    float: left;
    width: 230px;
    height: 52px;
}

#wrap-logo a {
    float: left;
}

#wrap-logo a img {
    float: left;
    border: 0px;
    margin-left: -4px;
}

#wrap-header-info {
    float: right;
    width: 730px;
    height: 52px;
    text-align: left;
}

#cart {
    float: right;
    width: 250px;
    height: 52px;
    padding-left: 70px;
    border-left: 1px dotted #4c4c4c;
}

#cart-title {
    float: left;
    font-family: US101;
    font-size: 18px;
    width: 100%;
    color: #ffffff;
    margin-top: 5px;

    text-shadow: 0px 1px 0px #121212;
    filter: dropshadow(color=#121212, offx=0, offy=1);
}

#cart-summarry {
    float: left;
    width: 100%;
    color: #8e8e8e;
}

#cart-summarry a.items {
    font-weight: bold;
    color: #f3cd02;
    text-decoration: none;
}

#cart-summarry a.items:hover {
    text-decoration: underline;
}

#cart-summarry span.price {
    font-weight: bold;
    color: #ffffff;
}

#work-hours {
    float: right;
    width: 250px;
    height: 42px;
    padding-top: 10px;
    padding-left: 65px;
}

#work-hours .white-line {
    float: left;
    width: 100%;
    color: #ffffff;
    font-size: 13px;
}

#work-hours .pink-line {
    float: left;
    width: 100%;
    color: #8f8f8f;
    font-size: 11px;
}

#header-bottom {
    float: left;
    width: 100%;
    height: 41px;
    border-top: 1px solid #443b3d;

    background: #362f31; /* Old browsers */
    background: -moz-linear-gradient(top, #362f31 0%, #1f1b1c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #362f31), color-stop(100%, #1f1b1c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #362f31 0%, #1f1b1c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #362f31 0%, #1f1b1c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #362f31 0%, #1f1b1c 100%); /* IE10+ */
    background: linear-gradient(top, #362f31 0%, #1f1b1c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#362f31', endColorstr='#1f1b1c', GradientType=0); /* IE6-9 */

    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

ul#header-menu {
    float: left;
    width: 700px;
    height: 41px;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul#header-menu li {
    float: left;
    height: 41px;
    margin-right: 2px;
}

ul#header-menu li a {
    float: left;
    font-family: US101;
    font-size: 17px;
    height: 41px;
    line-height: 41px;
    color: #f3f3f3;
    text-decoration: none;
    padding: 0px 15px;

    text-shadow: 0px -1px 1px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=-1);
}

ul#header-menu li a.active {

    color: #242323;

    text-shadow: 0px 0px 0px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=0);

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #eeeded 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eeeded)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #eeeded 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #eeeded 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #eeeded 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%, #eeeded 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeded', GradientType=0); /* IE6-9 */

    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

ul#header-menu li a.special {
    color: #f9d302;
}

ul#header-menu li a.inactive:hover {
    background: #4e484a; /* Old browsers */
    background: -moz-linear-gradient(top, #4e484a 0%, #383535 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4e484a), color-stop(100%, #383535)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4e484a 0%, #383535 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4e484a 0%, #383535 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4e484a 0%, #383535 100%); /* IE10+ */
    background: linear-gradient(top, #4e484a 0%, #383535 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e484a', endColorstr='#383535', GradientType=0); /* IE6-9 */

    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

#search {
    float: right;
    width: 255px;
    height: 36px;
    margin-top: 5px;
    margin-right: 5px;
    text-align: right;
}

#search-form {
    float: left;
    width: 100%;
}

#search input.nice_search {
    float: left;
    width: 200px;
    font-size: 13px;
    height: 28px;
    line-height: 28px;

    margin-left: 16px;
    padding-left: 10px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;

    color: #696767;
    background: #272424;

    border-bottom: 1px solid #393637;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;

    -webkit-box-shadow: inset 2px 4px 4px -1px rgba(4, 4, 4, 1);
    -moz-box-shadow: inset 2px 4px 4px -1px rgba(4, 4, 4, 1);
    box-shadow: inset 2px 4px 4px -1px rgba(4, 4, 4, 1);
}

#search input.nice_submit {
    float: left;
    height: 29px;
    width: 29px;

    border-bottom: 1px solid #393637;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
}

#search input.nice_submit:hover {
    cursor: pointer;
}

#wrap-content {
    width: 960px;
    margin: 0 auto;
}

#breadcrumb {
    float: left;
    width: 100%;
    height: 38px;
    line-height: 38px;
    font-size: 11px;
}

#breadcrumb a {
    color: #24659c;
    text-decoration: none;
}

#breadcrumb a:hover {
    text-decoration: underline;
}

#breadcrumb span {
    color: #5f5f5f;
}

#footer {
    float: left;
    width: 100%;
}

#wrap-footer-links {
    float: left;
    width: 100%;
    margin-top: 40px;
    padding: 30px 0px;

    background: #353535; /* Old browsers */
    background: -moz-linear-gradient(top, #353535 0%, #1c1b1b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #353535), color-stop(100%, #1c1b1b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #353535 0%, #1c1b1b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #353535 0%, #1c1b1b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #353535 0%, #1c1b1b 100%); /* IE10+ */
    background: linear-gradient(top, #353535 0%, #1c1b1b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#353535', endColorstr='#1c1b1b', GradientType=0); /* IE6-9 */
}

#footer-links {
    width: 960px;
    margin: 0px auto;
    color: #808080;
}

.wrap-links {
    float: left;
    width: 220px;
    margin-right: 20px;
}

.wrap-links h3 {
    float: left;
    width: 100%;
    font-size: 11px;
    color: #818181;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
}

.wrap-links ul {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.wrap-links ul li {
    float: left;
    width: 100%;
}

.wrap-links ul li a {
    float: left;
    width: 100%;
    color: #c29700;
    font-size: 11px;
    line-height: 18px;
    text-decoration: none;
}

.wrap-links ul li a:hover {
    text-decoration: underline;
}

#wrap-bottom {
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #000000;
    font-size: 11px;
    border-top: 1px solid #2c2b2b;
    border-bottom: 2px solid #181818;
}

#bottom {
    width: 960px;
    margin: 0 auto;
    color: #808080;
}

#bottom .left {
    float: left;
    width: 230px;
    margin: 0px;
    padding: 0px;
}

#bottom .right {
    float: left;
    width: 130px;
    height: 20px;
    line-height: 20px;
    text-align: right;
    margin: 10px 0 10px 600px;
    padding: 0px;
}

#bottom .right p {
    float: left;
    margin: 0px;
    padding: 0px;
}

#bottom .right p a {
    float: left;
    margin-left: 5px;
}

#bottom .right p img {
    float: left;
    border: 0px;
}

#main-content {
    float: left;
    width: 100%;
}

#left-column {
    float: left;
    width: 230px;
    margin-right: 10px;
}

#right-column {
    float: left;
    width: 720px;
}

#main-content .wrap-title-black {
    float: left;
    width: 100%;
}

#main-content .wrap-title-black h2.nice-title {
    float: left;
    width: 170px;
    padding-left: 20px;
    margin: 0px;
}

#main-content .wrap-title-black h2.nice-title.long {
    width: 210px;
}

#main-content #left-column .wrap-title-black {
    border-bottom: 1px solid #404040;
}

#main-content #left-column .left-block .wrap-title-black {
    border: 0px;
}

#main-content h1.nice-title {
    float: left;
    width: 550px;
    padding-left: 20px;
    margin: 0px;
}

#main-content .wrap-title-black.round {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#wrap-categories {
    float: left;
    width: 100%;
}

#wrap-categories .wrap-title-black .expanded:hover, #wrap-categories .wrap-title-black .collapsed:hover {
    cursor: pointer;
}

ul#category-menu {
    float: left;
    width: 100%;
    list-style: none;
    padding-bottom: 11px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin: 0px;
    background: #2a2a2a;

    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}

ul#category-menu li {
    float: left;
    width: 100%;
    border-bottom: 1px solid #373737;
}

ul#category-menu li a {
    float: left;
    width: 210px;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
}


ul#category-menu ul.subcategory {
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: #222222;
    list-style: none;
    display: none;
}

ul#category-menu ul.subcategory li {
    float: left;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #303030;
}

ul#category-menu ul.subcategory li a {
    float: left;
    width: 190px;
    height: 30px;
    line-height: 30px;
    padding-left: 40px;
    color: #eeb900 !important;
    font-size: 13px;
    text-decoration: none;
}

ul#category-menu ul.subcategory li a:hover {
    text-decoration: underline;
}

#left-column .left-block {
    float: left;
    width: 100%;
    margin-top: 20px;
}

#left-column .left-block h2.nice-title2 {
    float: left;
    width: 215px;
    padding-left: 15px;
    height: 40px;
    line-height: 40px;
    margin: 0px;
    border-bottom: 1px solid #d9d9d9;
    color: #343434;

    font-family: US101;
    font-size: 20px;
    font-weight: normal;

    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #f5f5f5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #f5f5f5 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%, #f5f5f5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0); /* IE6-9 */
}

#left-column .left-block .block-content {
    float: left;
    width: 200px;
    padding: 15px;
    border-bottom: 1px solid #bebebe;
    background: #ffffff;

    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}

#left-column .left-block .block-content2 {
    float: left;
    width: 200px;
    padding: 15px;
    border-bottom: 1px solid #bebebe;
    background: #ffffff;
    text-align: center;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#newsletter-form {
    float: left;
    width: 100%;
}

#newsletter-form p, #left-column .left-block p {
    float: left;
    width: 100%;
    margin: 0 0 10px;
    padding: 0px;
    color: #858585;
}

#newsletter-form p input {
    padding: 0px;
    height: 29px;
}

#newsletter-form p input.nice-i {
    float: left;
    width: 168px;
    padding-left: 10px;
}

#newsletter-form p input.nice-s {
    float: left;
    width: 75px;
}

#newsletter-form p input.nice-s:hover {
    cursor: pointer;
}

#brand-form, #price-form {
    float: left;
    width: 100%;
}

#brand-form .checkline, #price-form .checkline {
    float: left;
    width: 210px;
    padding: 5px 0 5px 20px;
    border-bottom: 1px solid #f0f0f0;
}

#brand-form .checkline input, #price-form .checkline input {
    float: left;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 0px;
}

#brand-form .checkline span, #price-form .checkline span {
    float: left;
    width: 140px;
    height: 20px;
    padding-left: 5px;
    line-height: 20px;
    font-size: 13px;
    color: #24659c;
}

#left-column .left-block p.support {
    float: left;
    width: 200px;
    margin: 0px;
    padding: 0px 15px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #f0f0f0;
}

#left-column .left-block p.support a {
    color: #24659c;
    text-decoration: none;
}

#left-column .left-block p.support a:hover {
    text-decoration: underline;
}

#left-column .left-block p.support span {
    color: #565656;
}

#promo-banners {
    float: left;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    background: none repeat scroll 0 0 transparent;
}

#promo-large-banners {
    float: left;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    background: none repeat scroll 0 0 transparent;
}

#promo-banners #slides-pager {
    bottom: 20px;
    float: left;
    position: absolute;
    right: 20px;
    z-index: 9999;
}

#promo-large-banners #slides-pager {
    bottom: 20px;
    float: left;
    position: absolute;
    right: 20px;
    z-index: 9999;
}

#promo-banners #slides-pager .position {
    float: left;
    background: #ffffff;
    padding: 5px 10px;

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

#promo-large-banners #slides-pager .position {
    float: left;
    background: #ffffff;
    padding: 5px 10px;

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

#promo-banners #slides-pager .position a, #promo-large-banners #slides-pager .position a {
    float: left;
    height: 22px;
    line-height: 22px;
    width: 22px;
    text-align: center;
    color: #3885c0;
    margin: 0px 2px;
    font-weight: bold;
    text-decoration: none;

}

#promo-banners #slides-pager .position a.activeSlide, #promo-large-banners #slides-pager .position a.activeSlide {
    background: #2b2b2b;
    color: #ffffff;

    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
}

#slide-show {
    float: left;
    width: 100%;
}

#slide-show a {
    float: left;
    width: 100%;
}

#slide-show img {
    float: left;
    border: 0px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#content {
    float: left;
    width: 100%;
}

#wrap-featured-products {
    float: left;
    width: 100%;
}

#wrap-featured-products .list-type {
    float: left;
    width: 120px;
    margin-left: 30px;
}

#wrap-featured-products .list-type p {
    float: left;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 10px 0;
    padding: 0px;
    color: #9b9898;
}

#wrap-featured-products .list-type p a {
    float: left;
    margin-left: 10px;
}

#wrap-featured-products .list-type p a img {
    float: left;
    border: 0px;
}

ul#inline-product-list {
    float: left;
    width: 100%;
    background: #ffffff;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul#inline-product-list li {
    float: left;
    width: 680px;
    padding: 20px;
    border-bottom: 1px solid #dfdfdf;
}

ul#inline-product-list li .product-photo,
ul#inline-product-list li .product-photo a,
ul#inline-product-list li .product-photo a img {
    float: left;
    width: 90px;
}

ul#inline-product-list li .product-info {
    float: left;
    width: 270px;
    margin-left: 20px;
}

ul#inline-product-list li .product-info h3 {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #2d75b2;
    padding: 0px;
}

ul#inline-product-list li .product-info h3 a {
    float: left;
    width: 100%;
}

ul#inline-product-list li .product-info h3 a:hover {
    text-decoration: underline;
}

ul#inline-product-list li .product-info p {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    color: #8b8b8b;
}

ul#inline-product-list li .product-info p a {
    font-weight: bold;
    color: #4385bd;
    padding-left: 10px;
}

ul#inline-product-list li .product-reviews {
    float: left;
    width: 130px;
    margin-left: 20px;
    margin-top: 15px;
}

.wrap-rating {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

.wrap-rating .rating-summary {
    float: left;
    width: 50px;
    margin-left: 5px;
    color: #5c5c5c;
}

.star-rating,
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus,
.star-rating {
    float: left;
    position: relative;
    width: 75px;
    height: 14px;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    background-position: left top;
}

.star-rating li {
    display: inline;
}

.star-rating a,
.star-rating .current-rating {
    position: absolute;
    top: 0;
    left: 0;
    text-indent: -1000em;
    height: 14px;
    line-height: 14px;
    outline: none;
    overflow: hidden;
    border: none;
}

.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus {
    background-position: left bottom;
}

.star-rating a.one-star {
    width: 20%;
    z-index: 6;
}

.star-rating a.two-stars {
    width: 40%;
    z-index: 5;
}

.star-rating a.three-stars {
    width: 60%;
    z-index: 4;
}

.star-rating a.four-stars {
    width: 80%;
    z-index: 3;
}

.star-rating a.five-stars {
    width: 100%;
    z-index: 2;
}

.star-rating .current-rating {
    z-index: 1;
    background-position: left center;
}


ul#inline-product-list li .product-reviews p {
    float: left;
    width: 100%;
    color: #5c5c5c;
    margin: 0 0 5px;
    padding: 0px;
}

ul#inline-product-list li .product-reviews p a {
    color: #2d75b2;
}

ul#inline-product-list li .product-price {
    float: left;
    width: 130px;
    margin-left: 20px;
    margin-top: 15px;
}

ul#inline-product-list li .product-price p {
    float: left;
    width: 100%;
    font-size: 20px;
    color: #414141;
    margin: 0 0 5px;
    padding: 0px;
}

ul#inline-product-list li .product-price p a.addcart {
    float: left;
    width: 110px;
}

ul#inline-product-list li .product-price p a.addcart:hover {
    float: left;
    width: 112px;
    height: 28px;
    line-height: 28px;
}

ul#inline-product-list li .product-price2 {
    float: left;
    margin-left: 10px;
    margin-top: 25px;
    width: 130px;
}

ul#inline-product-list li .product-price2 span {
    float: left;
    width: 100%;
    color: #525252;
}

ul#inline-product-list li .product-price2 p {
    color: #3b3b3b;
    float: left;
    font-size: 20px;
    margin: 0 0 5px;
    padding: 0;
    width: 100%;
}

ul#inline-product-list li .product-update {
    float: left;
    margin-left: 10px;
    margin-top: 15px;
    width: 150px;
}

ul#inline-product-list li .product-update form {
    float: left;
    width: 100%;
}

ul#inline-product-list li .product-update form div {
    float: left;
    width: 100%;
}

ul#inline-product-list li .product-update form div span {
    color: #5A5A5A;
    float: left;
    line-height: 21px;
    margin-right: 5px;
    width: 20px;
}

ul#inline-product-list li .product-update form div input.i {
    float: left;
    width: 30px;
    border: 1px solid #b6b6b6;
    height: 19px;
    line-height: 19px;
    padding: 0px 5px;
    margin: 0px 5px 0px 0px;
    color: #5A5A5A;
    text-align: center;
}

ul#inline-product-list li .product-update form div input.nice-s {
    float: left;
    width: 65px;
    height: 21px;
    line-height: 21px;
    font-size: 16px;
}

ul#inline-product-list li .product-update form div input.nice-s:hover {
    cursor: pointer;
}

ul#inline-product-list li .product-update .links {
    float: left;
    width: 145px;
    margin-left: 5px;
    font-size: 11px;
    margin-top: 10px;
}

ul#inline-product-list li .product-update .links a {
    color: #007dce;
    padding-left: 8px;
    text-decoration: underline;
    line-height: 18px;
}

ul#inline-product-list li .product-update .links a:hover {
    text-decoration: none;
}

#wrap-pages {
    float: left;
    padding: 0px 20px;
    width: 680px;
    height: 45px;
    background: #ffffff;
    border-bottom: 1px solid #bebebe;

    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}

#wrap-pages.round {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

#wrap-pages .left {
    float: left;
    width: 100px;
    height: 45px;
    line-height: 45px;
    color: #232222;
}

#wrap-pages .right {
    float: left;
    width: 580px;
    height: 27px;
    line-height: 27px;
    margin: 9px 0px;
    text-align: right;
}

#wrap-pages .right a {
    height: 27px;
    line-height: 27px;
    color: #2d75b2;
    text-decoration: none;
    border-right: 1px solid #eeeeee;
    padding-left: 7px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline-block;
    margin-bottom: -7px;
}

#wrap-pages .right a.active, #wrap-pages .right a:hover {
    color: #333333;
    font-weight: bold;
}

#wrap-pages .right a.previous-button {
    border: 0px;
    padding: 0px;
    display: inline-block;
    height: 27px;
    width: 27px;
}


#wrap-pages .right a.next-button {
    border: 0px;
    padding: 0px;
    display: inline-block;
    height: 27px;
    width: 27px;
}


ul#block-product-list {
    float: left;
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul#block-product-list li {
    float: left;
    display: inline-block;
    width: 230px;
    margin-top: 10px;
    padding: 0px;
    border-bottom: 1px solid #dfdfdf;
    background: #ffffff;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

* html ul#block-product-list li {
    display: inline;
}

* + html ul#block-product-list li {
    display: inline;
}

ul#block-product-list li.middle {
    margin: 10px 15px 0;
}

ul#block-product-list li .product-name {
    float: left;
    width: 100%;
    height: 30px;
    margin: 10px 0px;
    overflow: hidden
}

ul#block-product-list li .product-name h2 {
    float: left;
    width: 200px;
    line-height: 15px;
    font-size: 12px;
    color: #2d75b2;
    font-weight: bold;
    margin: 0px 15px;
    padding: 0px;
    text-align: center;
}

ul#block-product-list li .product-name h2 a {
    text-decoration: none;
}

ul#block-product-list li .product-name h2 a:hover {
    text-decoration: underline;
}

ul#block-product-list li .product-photo {
    float: left;
    width: 230px;
    height: 210px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
}

ul#block-product-list li .product-photo a {
    float: left;
    width: 100%;
}

ul#block-product-list li .product-photo a img {
    float: left;
    width: 200px;
    height: 200px;
    margin: 0 15px 10px;
}

ul#block-product-list li .product-info {
    float: left;
    width: 200px;
    margin: 5px 15px 0px;
}

ul#block-product-list li .product-info .first-row {
    float: left;
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin-bottom: 5px;
}

ul#block-product-list li .product-info .first-row .oldprice {
    float: left;
    width: 130px;
    height: 20px;
    line-height: 20px;
    color: #232222;
}

ul#block-product-list li .product-info .first-row .oldprice span {
    text-decoration: line-through;
    font-weight: bold;
}

ul#block-product-list li .product-info .first-row .details {
    float: left;
    width: 70px;
    height: 20px;
    line-height: 20px;
    text-align: right;
}

ul#block-product-list li .product-info .first-row .details a {
    color: #24659c;
    font-weight: normal;
    padding-left: 10px;
    float: right;
}

ul#block-product-list li .product-info .second-row {
    float: left;
    width: 100%;
    height: 27px;
    line-height: 27px;
    padding-bottom: 10px;
}

ul#block-product-list li .product-info .second-row .price {
    float: left;
    width: 80px;
    height: 27px;
    line-height: 27px;
    color: #414141;
    font-size: 20px;
}

ul#block-product-list li .product-info .second-row .addcart {
    float: left;
    width: 120px;
    height: 27px;
    line-height: 27px;
}

ul#block-product-list li .product-info .second-row .addcart a {
    float: right;
    width: 110px;
    height: 25px;
    line-height: 25px;
}

ul#block-product-list li .product-info .second-row .addcart a:hover {
    width: 112px;
    height: 26px;
    line-height: 26px;
}

#wrap-product-info, #wrap-cart-info {
    float: left;
    width: 100%;
}

#wrap-product-info h1.nice-title {
    width: 450px;
}

#wrap-cart-info h1.nice-title.cart {
    margin-left: 20px;
    padding-left: 30px;
    width: 420px;
}

#wrap-checkout h1.nice-title.checkout {
    margin-left: 20px;
    padding-left: 30px;
    width: 670px;
}

#wrap-checkout {
    float: left;
    width: 100%;
    padding-bottom: 20px;
    background: #ffffff;
    border-bottom: 1px solid #bebebe;

    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}

#wrap-checkout .footer-links {
    float: left;
    padding: 0px 20px;
    width: 680px;
}

#wrap-checkout .footer-links .l {
    float: left;
    width: 50%;
}

#wrap-checkout .footer-links .r {
    float: left;
    width: 50%;
}

#wrap-checkout .footer-links .l a {
    float: left;
    width: 100px;
    height: 25px;
    line-height: 25px;
}

#wrap-checkout .footer-links .r a {
    float: right;
    width: 100px;
    height: 25px;
    line-height: 25px;
}

#wrap-checkout .footer-links .l a:hover {
    float: left;
    width: 102px;
    height: 26px;
    line-height: 26px;
}

#wrap-checkout .footer-links .r a:hover {
    float: right;
    width: 102px;
    height: 26px;
    line-height: 26px;
}

#wrap-product-info .share-buttons {
    float: left;
    width: 210px;
    margin-left: 30px;
    margin-right: 10px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    text-align: right;
}

#wrap-cart-info .count-cart {
    float: left;
    width: 200px;
    padding-right: 20px;
    margin-left: 30px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    text-align: right;
}

#product-content {
    float: left;
    width: 680px;
    padding: 20px;
    background: #ffffff;
    border-bottom: 1px solid #bebebe;

    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}

#product-content .firstrow {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

#product-content .wrap-images {
    float: left;
    width: 302px;
}

#product-content .wrap-images .bigimage {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

#product-content .wrap-images .bigimage a {
    float: left;
    width: 100%;
}

#product-content .wrap-images .bigimage a img {
    float: left;
    width: 300px;
    height: 300px;
    border: 1px solid #e9e9e9;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#product-content .wrap-image-list {
    float: left;
    width: 100%;
}

#product-content .wrap-image-list a {
    float: left;
    width: 67px;
    height: 67px;
    margin: 0px 4px;
}

#product-content .wrap-image-list a img {
    float: left;
    width: 65px;
    height: 65px;
    margin: 0px;
    border: 1px solid #e9e9e9;
    padding: 1px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#product-content .wrap-image-list a img:hover {
    padding: 0px;
    border: 2px solid #d7d7d7;
}

#product-content .wrap-product-short {
    float: left;
    width: 360px;
    margin-left: 18px;
}

#product-content .wrap-product-short h2 {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 22px;
    color: #343434;
}

#product-content .wrap-product-short h3 {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    color: #b7b7b7;
}

#product-content .wrap-product-short .summary {
    float: left;
    width: 100%;
    margin: 15px 0px;
}

#product-content .wrap-product-short .summary p {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    color: #525252;
    line-height: 20px;
}

#product-content .wrap-special-info {
    float: left;
    width: 100%;
}

#product-content .wrap-special-info .left {
    float: left;
    width: 135px;
}

#product-content .wrap-special-info .left .ratingstars {
    float: left;
    width: 100%;
    margin: 0 0 5px;
}

#product-content .wrap-special-info .left p {
    float: left;
    width: 100%;
    margin: 0 0 5px;
    font-weight: bold;
    color: #5c5c5c;
}

#product-content .wrap-special-info .left p.dotted {
    margin: 10px 0px;
    padding: 10px 0px;
    border-top: 1px dotted #c6c6c6;
    border-bottom: 1px dotted #c6c6c6;
}

#product-content .wrap-special-info .left p span {
    color: #2d75b2;
    font-weight: normal;
}

#product-content .wrap-special-info .left p a {
    font-weight: normal;
    text-decoration: underline;
}

#product-content .wrap-special-info .left p a:hover {
    text-decoration: none;
}

#product-content .wrap-special-info .right {
    float: left;
    width: 190px;
    border: 4px solid #ececec;
    margin-left: 7px;
    padding: 10px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#product-content .wrap-special-info .right .add-product-cart {
    float: left;
    width: 100%;
}

#product-content .wrap-special-info .right .add-product-cart .oldprice {
    float: left;
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: #5a5a5a;
}

#product-content .wrap-special-info .right .add-product-cart .oldprice .l {
    float: left;
    width: 120px;
}

#product-content .wrap-special-info .right .add-product-cart .oldprice .r {
    float: left;
    width: 70px;
    text-align: right;
}

#product-content .wrap-special-info .right .add-product-cart .currentprice {
    float: left;
    width: 100%;
    height: 30px;
    padding: 5px 0px;
    margin: 10px 0px;
    line-height: 30px;
    color: #5f5f5f;
    font-weight: bold;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

#product-content .wrap-special-info .right .add-product-cart .currentprice .l {
    float: left;
    width: 80px;
}

#product-content .wrap-special-info .right .add-product-cart .currentprice .r {
    float: left;
    width: 110px;
    text-align: right;
    font-size: 21px;
    color: #272727;
}

#product-content .wrap-special-info .right form {
    float: left;
    width: 100%;
}

#product-content .wrap-special-info .right form .quantity {
    float: left;
    width: 78px;
    height: 27px;
}

#product-content .wrap-special-info .right form .quantity span {
    float: left;
    width: 20px;
    line-height: 27px;
    margin-right: 5px;
    color: #5A5A5A;
}

#product-content .wrap-special-info .right form .quantity input {
    float: left;
    width: 30px;
    height: 25px;
    line-height: 25px;
    padding: 0px 5px;
    border: 1px solid #e2e2e2;
    text-align: center;
    color: #C2C2C2;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: inset 2px 4px 4px -1px rgba(226, 226, 226, 1);
    -moz-box-shadow: inset 2px 4px 4px -1px rgba(226, 226, 226, 1);
    box-shadow: inset 2px 4px 4px -1px rgba(226, 226, 226, 1);
}

#product-content .wrap-special-info .right form .add-quantity {
    float: left;
    width: 112px;
}

#product-content .wrap-special-info .right form .add-quantity input {
    float: left;
    width: 112px;
}

#product-content .wrap-special-info .right form .add-quantity input:hover {
    cursor: pointer;
}

#product-content .wrap-special-info .right .wishlist {
    float: left;
    width: 185px;
    margin-right: 5px;
    height: 25px;
    line-height: 25px;
    text-align: right;
}

#product-content .wrap-special-info .right .wishlist a:hover {
    text-decoration: none;
}

#product-content .secondrow {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

#product-content .secondrow .wrap-tabs {
    float: left;
    width: 420px;
    margin-right: 10px;
}

#product-content .secondrow .wrap-tabs .tabs {
    float: left;
    width: 420px;
    margin-left: 0px;
}

#product-content .secondrow .wrap-tabs .tabs a {
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0px 20px;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    margin-right: 5px;
    font-size: 13px;

    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ebebeb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ebebeb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #ebebeb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #ebebeb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #ebebeb 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%, #ebebeb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb', GradientType=0); /* IE6-9 */
}

#product-content .secondrow .wrap-tabs .tabs a.active {
    color: #5c5c5c;
    background: #ffffff !important;
    font-weight: bold;
}

#product-content .secondrow .wrap-tabs .wrap-tabs-content {
    float: left;
    width: 400px;
    padding: 9px;
    border: 1px solid #e5e5e5;
    color: #525252;

    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
}

#product-content .secondrow .wrap-related {
    float: left;
    width: 250px;
}

#product-content .secondrow .wrap-related h3 {
    float: left;
    width: 233px;
    height: 30px;
    margin: 31px 0px 0px;
    padding-left: 15px;
    line-height: 30px;
    color: #5c5c5c;
    font-weight: bold;
    font-size: 13px;

    border: 1px solid #e5e5e5;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #eae9e9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eae9e9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #eae9e9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #eae9e9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #eae9e9 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%, #eae9e9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eae9e9', GradientType=0); /* IE6-9 */
}

#product-content .secondrow .wrap-related ul#related-products-nav {
    float: left;
    width: 248px;
    border: 1px solid #e5e5e5;
    margin: 0px;
    padding: 0px 0px 10px;
    list-style: none;

    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}

#product-content .secondrow .wrap-related ul#related-products-nav li {
    float: left;
    width: 230px;
    padding: 9px;
    border-bottom: 1px solid #e5e5e5;
}

#product-content .secondrow .wrap-related ul#related-products-nav li .image {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#product-content .secondrow .wrap-related ul#related-products-nav li .image a {
    float: left;
}

#product-content .secondrow .wrap-related ul#related-products-nav li .image a img {
    float: left;
    width: 50px;
    height: 50px;
    border: 0px;
}

#product-content .secondrow .wrap-related ul#related-products-nav li .info {
    float: left;
    width: 170px;
    height: 50px;
}

#product-content .secondrow .wrap-related ul#related-products-nav li .info h4 {
    float: left;
    margin: 0px;
    font-size: 11px;
    font-weight: normal;
}

#product-content .secondrow .wrap-related ul#related-products-nav li .info h4 a {
    color: #24659c;
}

#product-content .secondrow .wrap-related ul#related-products-nav li .info h4 a:hover {
    text-decoration: underline;
}

#product-content .secondrow .wrap-related ul#related-products-nav li .info p {
    float: left;
    margin: 0px;
    color: #3a3a3a;
    font-size: 11px;
}

#wrap-payment {
    float: left;
    width: 100%;
    padding-bottom: 20px;
    background: #ffffff;
    border-bottom: 1px solid #bebebe;

    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}

#payment-block {
    float: right;
    width: 320px;
    border: 5px solid #d9d9d9;
    background: #f7f7f7;
    padding: 15px;
    margin-right: 20px;
    margin-top: 20px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#payment-block .row {
    float: left;
    width: 100%;
    color: #525252;
}

#payment-block .row .l {
    float: left;
    width: 50%;
    line-height: 20px;
}

#payment-block .row .l span {
    color: #24659c;
    font-weight: bold;
}

#payment-block .row .r {
    float: left;
    width: 50%;
    line-height: 20px;
    text-align: right;
}

#payment-block .row2 .l {
    float: left;
    width: 50%;
    line-height: 34px;
    padding: 5px 0px;
    font-weight: bold;
}

#payment-block .row2 .r {
    float: left;
    width: 50%;
    color: #3b3b3b;
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
    padding: 5px 0px;
    text-align: right;
}

#payment-block .row3 {
    float: left;
    width: 274px;
    margin: 5px 23px 0px;
    text-align: center;
    color: #525252;
    height: 36px;
}

#payment-block .row3 a.p {
    float: left;
    height: 36px;
}

#payment-block .row3 a.p img {
    float: left;
    border: 0px;
    margin-top: 6px;
}

#payment-block .row3 span {
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0px 5px;
}

#payment-block .row3 a.checkout {
    float: left;
    width: 110px;
    height: 35px;
    line-height: 35px;
}

#wrap-payment a.continue {
    clear: both;
    float: right;
    width: 170px;
    height: 25px;
    line-height: 25px;
    margin-top: 20px;
    margin-right: 20px;
}

#wrap-payment a.continue:hover {
    width: 172px;
    height: 26px;
    line-height: 26px;
}

#wrap-cart-summary {
    float: left;
    width: 100%;
}

#wrap-cart-summary .wrap-title-black h2.nice-title {
    float: left;
    width: 180px;
    padding-left: 30px;
    margin: 0px 0px 0px 20px;
}

#cart-summary {
    float: left;
    width: 100%;
    padding-bottom: 20px;
    background: #ffffff;
    border-bottom: 1px solid #bebebe;

    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}

#cart-summary a.review-details {
    float: left;
    width: 200px;
    padding: 10px 15px;
    font-size: 13px;
    font-weight: bold;
    color: #24659c;
    border-bottom: 1px solid #f0f0f0;
}

ul#cart-summary-list {
    float: left;
    margin: 0px 0px 10px;
    padding: 0px;
    list-style: none;
}

ul#cart-summary-list li {
    float: left;
    width: 210px;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
}

ul#cart-summary-list li .image {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

ul#cart-summary-list li .image a {
    float: left;
}

ul#cart-summary-list li .image a img {
    float: left;
    width: 50px;
    height: 50px;
    border: 0px;
}

ul#cart-summary-list li .info {
    float: left;
    width: 150px;
    height: 50px;
}

ul#cart-summary-list li .info h4 {
    float: left;
    margin: 0px;
    font-weight: normal;
    font-size: 11px;
}

ul#cart-summary-list li .info h4 a {
    color: #24659c;
}

ul#cart-summary-list li .info h4 a:hover {
    text-decoration: underline;
}

ul#cart-summary-list .info p {
    float: left;
    margin: 0px;
    color: #3a3a3a;
    font-size: 11px;
}

#cart-summary .row {
    float: left;
    width: 210px;
    padding: 0px 10px;
    color: #525252;
}

#cart-summary .row .l {
    float: left;
    width: 60%;
    line-height: 20px;
}

#cart-summary .row .r {
    float: left;
    width: 40%;
    line-height: 20px;
    text-align: right;
}

#cart-summary .row2 {
    float: left;
    width: 210px;
    margin: 10px 10px 0px;
    color: #525252;
    border-top: 1px dotted #d3d3d3;
}

#cart-summary .row2 .l {
    float: left;
    width: 50%;
    line-height: 26px;
    padding: 5px 0px;
    font-weight: bold;
}

#cart-summary .row2 .r {
    float: left;
    width: 50%;
    color: #3b3b3b;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    padding: 5px 0px;
    text-align: right;
}

#checkout-main {
    float: left;
    width: 680px;
    padding: 20px;
}

#checkout-main .subinfo {
    float: left;
    width: 100%;
    height: 35px;
}

#checkout-main .subinfo .l {
    float: left;
    width: 520px;
    font-size: 24px;
    font-weight: bold;
    color: #272727;
    line-height: 35px;
}

#checkout-main .subinfo .r2 {
    float: left;
    width: 100px;
    margin-left: 25px;
    height: 35px;
    line-height: 35px;
    padding-left: 35px;
    font-size: 13px;
    color: #525252;
}

#checkout-steps {
    float: left;
    width: 680px;
    height: 50px;
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;
}

#checkout-steps .l .step {
    float: left;
    width: 85px;
    height: 50px;
}

#checkout-steps .l .step .step-id {
    float: left;
    width: 28px;
    height: 28px;
    margin-left: 27px;
    margin-right: 28px;
    line-height: 28px;
    border: 1px solid #d3d3d3;
    text-align: center;
    background: #ffffff;
    color: #8f8f8f;
    font-size: 17px;
    font-weight: bold;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    -webkit-box-shadow: inset 0px 3px 3px -1px rgba(229, 229, 229, 1);
    -moz-box-shadow: inset 0px 3px 3px -1px rgba(229, 229, 229, 1);
    box-shadow: inset 0px 3px 3px -1px rgba(229, 229, 229, 1);
}

#checkout-steps .l .step .step-id.active {
    float: left;
    width: 26px;
    height: 26px;
    line-height: 26px;
    margin-left: 27px;
    margin-right: 28px;
    border: 2px solid #ffd800;
    text-align: center;
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(229, 229, 229, 1);
    -moz-box-shadow: inset 0px 0px 0px 0px rgba(229, 229, 229, 1);
    box-shadow: inset 0px 0px 0px 0px rgba(229, 229, 229, 1);

    background: #4d4547; /* Old browsers */
    background: -moz-linear-gradient(top, #4d4547 0%, #231f20 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4d4547), color-stop(100%, #231f20)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4d4547 0%, #231f20 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4d4547 0%, #231f20 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4d4547 0%, #231f20 100%); /* IE10+ */
    background: linear-gradient(top, #4d4547 0%, #231f20 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d4547', endColorstr='#231f20', GradientType=0); /* IE6-9 */

}

#checkout-steps .l .step .step-name {
    float: left;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

#checkout-steps .l .step .step-name.active {
    color: #2b2b2b;
    font-weight: bold;
}

#checkout-main .login-box {
    float: left;
    width: 640px;
    padding: 15px;
    border: 5px solid #d9d9d9;
    background: #f7f7f7;
    margin-top: 20px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#checkout-main .login-box .returning {
    float: left;
    width: 310px;
    margin-right: 20px;
}

#checkout-main .login-box .new {
    float: left;
    width: 310px;
}

#checkout-main .login-box .returning h3, #checkout-main .login-box .new h3 {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: bold;
    color: #272727;
}

#checkout-main .login-box .returning form, #checkout-main .login-box .new .table {
    float: left;
    width: 290px;
    margin: 10px 0px 0px;
    padding: 9px;
    background: #ffffff;
    border: 1px solid #e4e4e4;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#checkout-main .login-box .returning form p, #checkout-main .login-box .new .table p {
    float: left;
    width: 100%;
    margin: 0px 0px 5px;
    font-size: 11px;
    color: #525252;
}

#checkout-main .login-box .returning form p label {
    float: left;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}

#checkout-main .login-box .returning form p input.nice-i {
    float: left;
    width: 178px;
}

#checkout-main .login-box .returning form p input.nice-s {
    float: left;
    width: 75px;
}

#checkout-main .login-box .returning form p input.nice-s:hover {
    cursor: pointer;
}

#checkout-main .login-box .returning form p a {
    float: left;
    padding-left: 10px;
    height: 25px;
    line-height: 25px;
    font-size: 11px;
    color: #24659c;
}

#checkout-main .login-box .new .table p a.can {
    float: left;
    width: 180px;
    height: 25px;
    line-height: 25px;
}

#checkout-main .login-box .new .table p a.cag {
    clear: both;
    float: left;
    width: 180px;
    height: 25px;
    line-height: 25px;
}

#checkout-main .login-box .new .table p a.cag:hover {
    width: 182px;
    height: 26px;
    line-height: 26px;
}

#checkout-main .footer {
    float: left;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 11px;
    color: #525252;
}

#checkout1-form {
    float: left;
    width: 670px;
    border: 5px solid #d9d9d9;
    background: #f7f7f7;
    margin-top: 10px;
    padding: 20px 0px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#checkout1-form input, #checkout1-form select {
    float: left;
}

#checkout1-form select {
    float: left;
    width: 155px;
    margin: 0px;
    padding: 0px;
    color: #c2c2c2;
    border: 1px solid #e2e2e2;
    padding: 4px 5px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: inset 0px -6px 6px -1px rgba(229, 229, 229, 1);
    -moz-box-shadow: inset 0px -6px 6px -1px rgba(229, 229, 229, 1);
    box-shadow: inset 0px -6px 6px -1px rgba(229, 229, 229, 1);
}

#checkout1-form .row, #checkout1-form .row2, #checkout1-form .row3, #checkout1-form p {
    float: left;
    width: 630px;
    padding: 0px 20px;
    margin-bottom: 10px;
    color: #525252;
    font-size: 13px;
}

#checkout1-form .row input {
    width: 280px;
}

#checkout1-form .row .r2 input {
    width: 114px;
}

#checkout1-form .row .l {
    float: left;
    width: 315px;
}

#checkout1-form .row .r {
    float: left;
    width: 315px;
}

#checkout1-form .row .l label,
#checkout1-form .row .r label,
#checkout1-form .row .r a,
#checkout1-form .row2 label,
#checkout1-form .row .c label,
#checkout1-form .row .r2 label {
    float: left;
    width: 100%;
    margin-bottom: 5px;
    line-height: 16px;
}

#checkout1-form .row .r label.note,
#checkout1-form .row .r a.note {
    color: #24659c;
    font-weight: normal;
    margin-top: 21px;
    line-height: 26px;
    height: 26px;
    margin-bottom: 0px;
}

#checkout1-form label.required {
    font-weight: bold;
}

#checkout1-form .row .c {
    float: left;
    width: 160px;
    margin-right: 5px;
}

#checkout1-form .row .r2 {
    float: left;
    width: 150px;
}

#checkout1-form .row2 input {
    width: 595px;
}

#checkout1-form .row3 {
    border-top: 1px dotted #a3a3a3;
    border-bottom: 1px dotted #a3a3a3;
    padding: 20px;
    height: 24px;
}

#checkout1-form .row3 input.r {
    float: left;
    height: 24px;
    line-height: 24px;
    border: 0px;
    margin: 0px;
}

#checkout1-form .row3 span {
    float: left;
    font-weight: bold;
    margin-left: 10px;
    height: 24px;
    line-height: 24px;
}

.detailsList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.detailsList li {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    vertical-align: middle;
}

.detailsList li.itemDetailsFeatureRow1 {
    background-color: #EFEFEF;
}

.d-block {
    display: block;
}
.valueSpan2::before{
    content: '₴';
}
.float-right{
    float: right !important;
}
.float-left{
    float: left;
}
.p-5{
    padding: 5px;
}
.priceBtn{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}
.btn:focus {
    outline: none;
    box-shadow: none;
}